bootcamp2019/intro_to_ds/case1.1/.ipynb_checkpoints/exploration_example-checkpoint.ipynb
bootcamp2019/intro_to_ds/case1.1/random_people.csv
.ipynb_checkpoints
*/.ipynb_checkpoints/*
bootcamp2019/pandas_numpy/ozone_copy.csv
